/*------------------------------------------------- General styling ---------------------------------------*/
main {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

/*------------------------------------------------- sign-up window ---------------------------------------*/
.container {
    background-color: #fff;
    padding: 20px 30px;
    margin: 0 40px;
    border-radius: 10px;
    margin-top: -100px;
    box-shadow:0 4px 12px rgba(0, 0, 0, 0.507);
    width: 600px;
    height: auto;
    font-size: 17.5px;   
}

.container h2 {
    font-size: 35px;
}

.container p {
    font-size: 17px;
    padding-left: 4px;
    color: #555;
}

.name-div {
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin:20px 0 20px 0;
    text-align: left;
}

.name-div input {
    padding: 8px; 
    box-sizing: border-box; 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    justify-content: space-between;
    width: 48%;
}

.name-div .input-group {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}
.email-div, .password-div1, .password-div2 {
    margin:0 20px 20px 0;
    text-align: left;
}

.email-div input, .password-div1 input, .password-div2 input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
}

.checkbox-div {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    margin: 15px 0;
}

.checkbox-div input {
    margin-right: 10px;
}

.checkbox-div a {
    color: #007bff;
    text-decoration: none;
}

.checkbox-div a:hover {
    text-decoration: underline;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    border: 1px solid #474747;
    cursor: pointer;
}

.submit-button:hover {
    background-color:#006bdd;
}



@media (max-width: 500px) {
    .name-div .input-group {
        flex-direction: column; 
    }

    .name-div input {
        margin-right: 0; 
        width: 100%; 
    }
}

@media (max-width: 450px) {
    .container h2 {
        font-size: 33px;
    }
}

@media (max-width: 434px) {
    .container h2 {
        font-size: 30px;
    }
}