/*-------------------------------------------------- General styling --------------------------------------------------*/
body {
    font-family: Arial, sans-serif;
}





/*-------------------------------------------------- Main styling for location section --------------------------------------------------*/
.location-container {
    padding: 40px ;
    text-align: center;
    background-color: #f9f9f9;
    color: #333;
}

.location-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000000;
}

.location-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.location-details {
    flex: 1;
    display: grid;
    gap: 5px;
    font-size: 16.5px;
    line-height: 1.5;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: aliceblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.location-details div {
    padding: 15px;
    border-bottom: 1px solid #000000;
}

.location-details div:last-child {
    border-bottom: none;
}

.location-details span {
    color: #e63946; 
}





/*-------------------------------------------------- Styling map --------------------------------------------------*/
.map {
    flex: 2;
    max-width: 800px;
    height: 510px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.map iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Responsive design for smaller screens */
@media (max-width: 878px) {
    .location-block {
        flex-direction: column;
        align-items: center;
    }
    .location-details {
        width: 72%;
    }
    .map {
        width: 80%;
    }
    .map iframe {
        height: 400px;
    }
}


@media (max-width: 576px) {
    .location-details {
        width: 90%;
    }
    .map {
        width: 100%;
    }
}
